{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Афиша спектаклей{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Афиша Спектаклей</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        {% for performance in performances %}
            <div class="col">
                <div class="card mb-4 shadow-sm h-100">
                    <img src="{{ performance.poster.url }}" class="card-img-top" alt="{{ performance.title }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title display-6">{{ performance.title }}</h5>
                        <p class="lead fs-3">{{ performance.date|date:"d/m, H:i" }}</p>
                        <p class="text-muted">Продолжительность: {{ performance.duration|duration_display }}</p>
                        <p class="card-text">{{ performance.description }}</p>
                        <div class="mt-auto">
                            <a href="{% url 'play_detail' performance.id %}" class="btn btn-sm btn-outline-secondary mb-3">Подробнее</a>
                            <div class="mx-2"></div>
                            <a href="#" class="btn btn-warning btn-lg btn-block w-100">Купить билет</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}

{% block extra_css %}
    <style>
        .card {
            margin-bottom: 2rem;
        }

        .card-body {
            display: flex;
            flex-direction: column;
        }

        .card-title {
            font-size: 1.5rem;
        }

        .lead {
            font-size: 1.25rem;
        }
    </style>
{% endblock %}
