{% extends 'base.html' %}

{% block title %}Оплата через рассылку администрации{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Оплата посредством рассылки администрации</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="full_name" class="form-label">ФИО</label>
            <input type="text" class="form-control" id="full_name" name="full_name">
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Номер телефона</label>
            <input type="text" class="form-control" id="phone_number" name="phone_number">
        </div>
        <button type="submit" class="btn btn-primary">Отправить запрос на оплату</button>
    </form>
{% endblock %}
