{% extends 'base.html' %}

{% block title %}Афиша спектаклей{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Афиша Спектаклей</h1>
    <div class="row">
        {% for performance in performances %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ performance.poster.url }}" class="card-img-top" alt="{{ performance.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ performance.title }}</h5>
                        <p class="card-text">{{ performance.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Купить билет</a>
                            </div>
                            <div class="btn-group">
                                <a href="{% url 'play_detail' performance.id %}"
                                   class="btn btn-sm btn-outline-secondary">Подробнее</a>
                            </div>
                            <small class="text-muted">Дата: {{ performance.date }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}
