{% extends 'base.html' %}

{% block title %}Тарифные планы{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Выберите Тарифный План</h1>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 shadow-sm h-100 d-flex flex-column justify-content-between">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Месячный план</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">9,990 тг</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>3 посещения</li>
                        <li>Приоритетное бронирование билетов</li>
                        <li>Скидки на билеты</li>
                        <li>Эксклюзивные мероприятия</li>
                        <li>Подарки и бонусы</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="w-100 btn btn-lg btn-primary">Подписаться</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm h-100 d-flex flex-column justify-content-between">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Трехмесячный план</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">29,990 тг</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>9 посещений</li>
                        <li>Приоритетное бронирование билетов</li>
                        <li>Скидки на билеты</li>
                        <li>Эксклюзивные мероприятия</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="w-100 btn btn-lg btn-primary">Подписаться</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm h-100 d-flex flex-column justify-content-between">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Годовой план</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">99,990 тг</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Неограниченные посещения</li>
                        <li>Приоритетное бронирование билетов</li>
                        <li>Скидки на билеты</li>
                        <li>Эксклюзивные мероприятия</li>
                        <li>Подарки и бонусы</li>
                        <li>Специальный сертификат подписчика</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="button" class="w-100 btn btn-lg btn-primary">Подписаться</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
