{% extends 'base.html' %}

{% block title %}Тарифные планы{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Выберите Тарифный План</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="pricing-plan">
                <h2>Месячный план</h2>
                <div class="price">9,990 тг</div>
                <ul>
                    <li>3 посещения</li>
                    <li>Приоритетное бронирование билетов</li>
                    <li>Скидки на билеты</li>
                    <li>Эксклюзивные мероприятия</li>
                    <li>Подарки и бонусы</li>
                </ul>
                <button class="btn btn-subscribe">Подписаться</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pricing-plan">
                <h2>Трехмесячный план</h2>
                <div class="price">29,990 тг</div>
                <ul>
                    <li>9 посещений</li>
                    <li>Приоритетное бронирование билетов</li>
                    <li>Скидки на билеты</li>
                    <li>Эксклюзивные мероприятия</li>
                </ul>
                <button class="btn btn-subscribe">Подписаться</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pricing-plan">
                <h2>Годовой план</h2>
                <div class="price">99,990 тг</div>
                <ul>
                    <li>Неограниченные посещения</li>
                    <li>Приоритетное бронирование билетов</li>
                    <li>Скидки на билеты</li>
                    <li>Эксклюзивные мероприятия</li>
                    <li>Подарки и бонусы</li>
                    <li>Специальный сертификат подписчика</li>
                </ul>
                <button class="btn btn-subscribe">Подписаться</button>
            </div>
        </div>
    </div>
{% endblock %}
